<ion-content class="login-bg no-scroll">

  <!-- 🔙 Tombol Back -->
  <div class="back-wrapper">
    <ion-icon name="arrow-back-outline" class="back-btn" routerLink="/welcome"></ion-icon>
  </div>

  <div class="header-section">
    <h1>Login</h1>
    <p>Masuk untuk terhubung dengan lingkungan Anda</p>
  </div>

  <!-- Form Container -->
  <div class="form-container">
    
    <!-- Icon Profile -->
    <div class="profile-icon">
      <ion-icon name="person-circle-outline"></ion-icon>
      <p>Login to your account</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">

  <!-- Input NIK -->
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-input 
      type="text"
      inputmode="numeric"
      pattern="[0-9]*"
      placeholder="Masukan NIK Anda (16 digit)" 
      formControlName="nik"
      maxlength="16">
    </ion-input>
  </ion-item>

  <!-- Input Password + Eye -->
  <ion-item>
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
    <ion-input 
      [type]="showPassword ? 'text' : 'password'" 
      placeholder="Masukan Password (8 digit)" 
      formControlName="password" 
      maxlength="8">
    </ion-input>
    <ion-icon 
      slot="end" 
      [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
      (click)="togglePasswordVisibility()">
    </ion-icon>
  </ion-item>

<div class="forgot">
  <a [routerLink]="['/forgot-password']">Forgot Password?</a>
</div>



  <ion-button expand="block" class="login-btn" type="submit">
    Login
  </ion-button>
</form>


    <p class="belum">
      Belum punya akun? <a routerLink="/registrasi">Daftar Sekarang</a>
    </p>
   
  </div>
</ion-content>
