<ion-header class="custom-header" [translucent]="true">
  <ion-toolbar>
    <div class="header-bg">
      <!-- Bagian atas header -->
      <div class="header-top">
        <!-- Tombol Info → pojok kanan -->
        <ion-button fill="solid" class="info-btn" size="small" routerLink="/informasi">
          <ion-icon name="information-circle-outline"></ion-icon>
          INFO
        </ion-button>
      </div>

      <!-- Judul Header → di bawah tombol Info -->
      <div class="header-title-wrapper">
        <h1 class="header-title">AJUKAN LAPORAN</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="background-wrapper">
    <div class="bottom-white"></div>
  </div>

  <!-- ✅ Kotak laporan -->
  <div class="center-wrapper">
    <ion-card>
      <!-- Avatar -->
      <div class="avatar-laporan">
        <img src="assets/img/laporan.jpg" alt="default avatar" />
      </div>

      <!-- Judul -->
      <div class="judul">Silahkan Lengkapi Form Ini</div>

      <!-- Dropdown -->
      <ion-item class="input-box" lines="none">
        <ion-select placeholder="Pilih Jenis Laporan" interface="popover">
          <ion-select-option value="jalan">Keluhan</ion-select-option>
          <ion-select-option value="lampu">Aspirasi</ion-select-option>
          <ion-select-option value="sampah">Gangguan</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Deskripsi -->
      <div class="deskripsi-wrapper">
        <div class="label-deskripsi">Deskripsi</div>
        <ion-item class="input-box" lines="none">
          <ion-textarea placeholder="Tulis Deskripsi Masalah Disini........"></ion-textarea>
        </ion-item>
      </div>

      <!-- Tombol Kirim -->
      <div class="btn-wrapper">
        <ion-button class="btn-kirim">Kirim</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
