<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>PENGUMUMAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="announcement-content">

  <!-- Jika tidak ada pengumuman -->
  <div *ngIf="announcements.length === 0" class="empty-state">
    <ion-icon name="notifications-off-outline"></ion-icon>
    <p>Belum ada pengumuman saat ini</p>
  </div>

  <!-- Daftar pengumuman -->
<div *ngFor="let item of announcements; let i = index" 
     class="announcement-card"
     (mousedown)="startPress(i)" 
     (mouseup)="endPress()" 
     (mouseleave)="endPress()"
     (touchstart)="startPress(i)" 
     (touchend)="endPress()">
  <h2>{{ item.title }}</h2>
  <p>{{ item.message }}</p>
  <span class="announcement-date">{{ item.date | date:'dd MMM yyyy, HH:mm' }}</span>
</div>


</ion-content>
